<div>
  <h4>Current Openings</h4>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opening of openings; index as i" :id="i">
        <td>{{ opening.title }}</td>
        <td>
          <a [routerLink]="['/apply/' + opening.id + '']">Show Details/Apply</a>
          <a href="#">Continue application</a>
          <a href="#">Check Status</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
